<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{_frag/Base::site-head}">
	</head>
	<body>
		<header th:replace="~{_frag/Base::site-empleado-header}"></header>
		<div class="container-fluid mt-5 p-5">
		    <h2 class="mb-4">Datos del Producto</h2>
		    <form th:object="${producto}" th:action="@{/producto/guardarProducto}" method="post">
		        <div class="form-group">
		            <label for="nombre">Nombre:</label>
		            <input class="form-control" type="text" id="nombre" name="nombre" th:field="${producto.nombre}">
		        </div>
		        
		        <div class="form-group">
		            <label for="descripcion">Descripción:</label>
		            <input class="form-control" type="text" id="descripcion" name="descripcion" th:field="${producto.descripcion}">
		        </div> 
		        <div class="form-group">
		            <label for="categoria">Categoría:</label>
		            <select class="form-control" id="categoria" name="categoria.id">
		                <option value="">--Seleccione categoría--</option>
		                <option th:each="categoria : ${listaCategorias}" 
		                        th:value="${categoria.id}"
		                        th:text="${categoria.nombre}">
		                </option>
		            </select>
		        </div>
		        <div class="form-group">
		            <label for="precio">Precio:</label>
		            <input class="form-control" type="number" id="precio" name="precio" step="any"> 
		            <!-- Lo he quitado para que no salga error: th:field="${producto.precio}"-->
		        </div>
		        <div class="form-group">
		            <label for="stock">Stock:</label>
		            <input class="form-control" type="number" id="stock" name="stock" >
		            <!-- Lo he quitado para que no salga error: th:field="${producto.stock}"-->
		        </div>
		        <div class="form-group">
		            <button class="btn btn-primary" type="submit">Aceptar</button>
		            <a class="btn btn-secondary" th:href="@{/producto}" role="button">Cancelar</a>
		        </div>
		    </form>
		</div>
		<script th:src="@{js/scriptBase.js}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>