<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_frag/Base::site-head}">
</head>

<body>
	<header th:replace="~{_frag/Base::site-cliente-header}"></header>
	<div class="container-fluid mt-5 pt-5">
		<h1>Listado de Pedidos</h1>
		<div>
			<ul>
				<li><a th:href="@{/pedido/nuevo} ">Agregar Pedido</a></li>
				<li><a th:href="@{/}">Cerrar</a></li>
			</ul>
		</div>

		<div>
			<table id="listadoPedidos" border="1">
				<thead>
					<tr>
						<td>Producto</td>
						<td>Cantidad</td>
						<td>Editar</td>
						<td>Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${listaPedidos}">
						<td
							th:text="${pedido.idProductoElaborado.producto.nombre + ' ' + pedido.idProductoElaborado.presentacion.nombre} ">
							Producto</td>
						<td th:text="${pedido.cantidad} ">Cantidad</td>
						<td><a th:href="@{/pedido/editar/} + ${pedido.id_numero} ">
								Editar</a></td>
						<td><a th:href="@{/pedido/eliminar/} + ${pedido.id_numero}">
								Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>