<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Vitalmash Tienda Virtual</title>
	</head>
	
	<body>
		<h1>Listado de Pedidos</h1>
		<div>
			<ul>
				<li><a th:href="@{/pedido/nuevo} ">Agregar Pedido</a></li>
				<li><a th:href="@{/}">Cerrar</a></li>
			</ul>
		</div>
		
		<div>
			<table id="listadoPedidos" border="1">
				<thead>
					<tr>
						<td>Producto</td>
						<td>Cantidad</td>
						<td>Editar</td>
						<td>Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${listaPedidos}">
						<td th:text="${pedido.producto} ">Producto</td>
						<td th:text="$ {pedido.cantidad} ">Cantidad</td>
						<td><a th:href="@{/pedido/editar/}+${pedido.id] ">
						Editar</a></td>
						<td><a th:href="@{/pedido/eliminar/+${pedido.id]">
						Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>

