<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_frag/Base::site-head}">
</head>

<body>
	<header th:replace="~{_frag/Base::site-cliente-header}"></header>
	<div class="container-fluid mt-5 pt-5">
		<h2>Datos del Pedido</h2>
		<form th:object="${producto}" th:action="@{/pedido/guardar}" method="post">
			<div>
				<Select id="selectProductoEla" name="producto.id">
					<option value=""> -- Seleccione Producto --</option>
					<option th:each="oProductoElaborado : ${listaProductos}" th:value="${oProductoElaborado.id}"
						th:text="${oProductoElaborado.producto.nombre} + ', ' + ${oProductoElaborado.presentacion.nombre}"
						th:selected="${oProductoElaborado.id == producto.id}">

					</option>
				</Select>
			</div>

			<div>
				<label for="cantidad">Cantidad</label>
				<div>
					<input type="number" id="cantidad" name="cantidad">
				</div>
			</div>

			<div>
				<button type="submit">Aceptar</button>
				<a th:href="@{/pedido}" role="button">Cancelar</a>
			</div>
		</form>
	</div>
</body>

</html>