<html>

<head>
    <title>Vitalmash Tienda Virtual</title>
</head>

<body>
    <h2>Elaboracion de Productos</h2>

    <form th:object="${elaboracion}" th:action="@{/elaboracion/guardar}" th:method="post">
        <!-- Campo ID -->
        <div th:replace="~{_frag/Inputs :: iHtml (hidden,'ID:', '', id)}">
			
		</div>


        <div th:replace="~{_frag/Inputs :: iHtml (select, 'Producto Elaborado:', '', productoElaborado)}">
            <Select id="selectProductoEla" name="productoElaborado.id">
                <option value=""> -- Seleccione Producto --</option>
                <option th:each="oProductoElaborado : ${listaProductos}" th:value="${oProductoElaborado.id}"
                    th:text="${oProductoElaborado.producto + ', ' + oProductoElaborado.presentacion}"
                    th:selected="${oProductoElaborado.id == elaboracion.productoElaborado.id}">

                </option>
            </Select>
        </div>


        <div th:replace="~{_frag/Inputs :: iHtml (date,'Fecha Ingreso:', '', fecha_inicio)}">
			
		</div>

 
        <div th:replace="~{_frag/Inputs :: iHtml (date, 'Fecha Vencimiento:', '', fecha_vencimiento)}">
			
		</div>

  
        <div th:replace="~{_frag/Inputs :: iHtml (number, 'Cantidad:', 'Ingrese Cantidad', cantidad_elaborada)}">
        </div>


        <div>
            <br>
            <button type="submit">Guardar</button>
            <a th:href="@{/elaboracion/index}" role="button">Cancelar</a>
        </div>
    </form>
</body>

</html>
